
html, body{
    background-color: #FDF7F7;
    background-blend-mode: overlay;
    height: 100%;
    max-width: 2000px;
/*    padding: 10px;*/
    color: #474856;
}

#map-canvas{
    position: relative;
    top: -320px;
    height: 400px;
    width: 800px;
    margin: 20px;
    float:right;
    z-index: 4;
    border: 2px solid white;
}

#panel {
    position: static;
    top: 5px;
    z-index: 5;
    background-color: :#fff;
    padding: 5px;
    float:right;
    border: 1px solid #999;
}

#directions-panel {
    position: relative;
    top:-320px;
    height: 50%;
    float: right;
    width: 800px;
    overflow: auto;
    right: 20px;
    margin-bottom: 50px;
}

#control {
        background: #fff;
        padding: 5px;
        font-size: 100%;
        font-family: Arial;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        display: none;
}

@media print {
    #map-canvas {
        height: 500px;
        margin: 0;
    }

    #directions-panel {
        float: right;
        width: auto;
    }
}

header{
    text-align: center;
    float:inherit;
    font-family: monospace;
    font-size: 40px;
}

p{
    font-family: 'Oswald', monospace;
}

header.p{
    letter-spacing: 4px;;
}

main {
    font-family: 'Oswald', monospace;
    font-size: 20px;
    float: left;
}

table{
    font-family: 'Oswald', monospace;
    font-size: 17px;
    float: left;
    margin-left: 15px;
    padding-right: 20px;
}

#locations{
    position: relative;
    top:180px;
    font-family: 'Oswald', monospace;
    font-size: 17px;
    float: left;
    margin-left: 15px;
    padding-right: 20px;
    height:300px;
    overflow-y:scroll; 
    display:block;
}

#weather {
    font-size: 19px;
    position:relative;
    left:-320px;
    float:left;
    margin-left:15px;
    overflow-y: hidden;
    border: none;
}

footer{
    position: absolute;
    top: 900px;
    font-family: 'Oswald', monospace;
    margin-left: 30px;
    min-width: 855px;
    text-align: left;
}

#icon{
    height: 25px;
}

img{
    display: inline;
    padding: 0px;
    margin: 0px;
    height: 35px;
}

a{
    color:cadetblue;
    text-decoration: none;
}
    